*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #f0f3f9;
    background-image: url("/Background.png");    
    background-size: 28px 28px;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}
.contenedorTodo {
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: content-box;
  margin: auto;
  position: relative;
}

.cajaTrasera{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #284773;
    border-radius: 55px;

}

.cajaTrasera div{
    margin: 100px 40px;
    color: rgb(0, 0, 0);
    transition: all 500ms;
}


.cajaTrasera div p,
.cajaTrasera button{
    margin-top: 30px;
}

.cajaTrasera div h3{
    font-weight: 400;
    font-size: 26px;
    color: #ffffff;
}

.cajaTrasera div p{
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}

.cajaTrasera button{
    padding: 10px 40px;
    border: 2px solid #ffffff;
    font-size: 14px;
    background: transparent;
    font-weight: 600;
    cursor: pointer;
    color: rgb(255, 255, 255);
    outline: none;
    transition: all 300ms;
}

.cajaTrasera button:hover{
    background: #F1E5E5;
    color: #000000;
}

/*Formularios*/

.loginRegister {
  min-height: 80vh;       /* en vez de height: 100vh */
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedorLoginRegister{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    
    /*La transicion va despues del codigo JS*/
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedorLoginRegister form{
    width: 100%;
    padding: 58px 20px;
    background: #d3d0cb;
    position: absolute;
    border-radius: 55px;
    border: 2.2px solid black;
}

.contenedorLoginRegister form h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.contenedorLoginRegister form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    background: #a6a6a6;
    font-size: 16px;
    outline: none;
}

.contenedorLoginRegister form button{
    padding: 10px 40px;
    margin-top: 40px;
    margin-left: 90px;
    font-size: 14px;
    background: #6cb4b3;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(0, 0, 0);
    outline: none;
}

.formularioLogin{
    opacity: 1;
    display: block;
}
.formularioRegister{
    display: none;
}



@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }

    .cajaTrasera{
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .cajaTrasera div{
        margin: 0px;
        position: absolute;
    }


    /*Formularios*/

    .contenedorLoginRegister{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
}